body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}

header {
    background: #d6005e;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

main {
    padding: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.btn {
    display: block;
    background: #d6005e;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
}

.btn:hover {
    background: #a80049;
}

.back {
    background: #555;
}

.back:hover {
    background: #333;
}

.content {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.tel {
    font-size: 1.2rem;
    color: #d6005e;
}
